
.image {
  width: 300px;
  height: 200px;
  float: left;
  text-align: center;
}

.image img {
  max-width: 300px;
  max-height: 200px;
}

.album,
.image {
  border: 1px solid #888;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.5em;
}

.title {
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album > .title {
  background: #ccc;
  border-radius: 0.5em;
  cursor: pointer;
}

.album.collapsed > .children {
  display: none;
}

.imagelist > .children::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

#API_examples {
  display: block;
}
